<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Reminders</title>
  </head>
  <body>
  
    <script type="text/x-handlebars" data-template-name="timers">
      <h1>Reminders</h1>
      <section class="cf">
        <header id="header">
          {{input type="text" id="new-timer" placeholder="What do you need to remember?" value=newTitle action="createTimer"}}
        </header>
        <main id="main" role="main">
        {{outlet}}
        </main>
      </section>
      <footer id="info">
        <p>Double-click to edit a reminder</p>
      </footer>
    </script>
  
    <script type="text/x-handlebars" data-template-name="timers/index">
      <ul id="timer-list">
        {{#each time in timers}}
          <li {{bind-attr class="isCompleted:completed isEditing:editing"}}>
            {{#if isEditing}}
              {{edit-timer class="edit" value="title" insert-newLine="acceptChanges" placeholder="Description"}}
              {{input class="edit" value=formattedEnd focus-out="acceptChanges" insert-newLine="acceptChanges" placeholder="End: yyyy-mm-dd hh:mm"}}
            {{else}}
              {{input type="checkbox" checked=isCompleted class="toggle"}}
              <label {{action "editTimer" on="doubleClick"}}>
                {{title}} <span class="pull-right time-until">{{from}}</span>
              </label>
              <button class="destroy" {{action "removeTimer"}}></button>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </script>
    
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/handlebars/handlebars.js"></script>
    <script src="bower_components/ember/ember.js"></script>
    <script src="bower_components/ember-data/ember-data.js"></script>
    <script src="bower_components/moment/moment.js"></script>

    <script src="app/Timers.js"></script>
    <script src="app/router.js"></script>
    <script src="app/store.js"></script>

    <script src="app/controllers/timer_controller.js"></script>
    <script src="app/controllers/timers_controller.js"></script>

    <script src="app/models/timer.js"></script>

    <script src="app/routes/timers.js"></script>
    <script src="app/routes/timers-index.js"></script>
  </body>
</html>
